In [7]:
import pandas as pd
df = pd.read_excel('stocks.xlsx')
print(df)

FileNotFoundError: [Errno 2] No such file or directory: 'stocks.xlsx'

In [13]:
import pandas as pd
print(pd.__version__)

1.4.2

In [ ]:
carset = {
          'cars': ['BMW', 'RR', 'TATA','Ford'],
          'pass': [3, 7, 8, 7]
         }

x=pd.DataFrame(carset)
print(x)

In [39]:
a=[2,5,7]
y=pd.Series(a)
print(a)

[2, 5, 7]

In [47]:
x['cars']

0     BMW
1      RR
2    TATA
Name: cars, dtype: object

In [50]:
x[['pass','cars']]

   pass  cars
0     3   BMW
1     7    RR
2     8  TATA

In [123]:
type(x['cars'])

pandas.core.series.Series

In [124]:
type(x[['pass','cars']])    #datatype

pandas.core.frame.DataFrame

In [125]:
x.shape     #returns no. of rows and cols

(4, 2)

In [127]:
x.info()       #table structure

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cars    4 non-null      object
 1   pass    4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [128]:
x.head(0)

Empty DataFrame
Columns: [cars, pass]
Index: []

In [129]:
x.head(1)

  cars  pass
0  BMW     3

In [130]:
x.head(2)

  cars  pass
0  BMW     3
1   RR     7

In [131]:
x.tail(1)

   cars  pass
3  Ford     7

In [132]:
a=[[1,45,78],[46,67,87]]
b=pd.DataFrame(a)
print(b)

    0   1   2
0   1  45  78
1  46  67  87

In [133]:
x.columns

Index(['cars', 'pass'], dtype='object')

In [100]:
x.describe()

           pass
count  4.000000
mean   6.250000
std    2.217356
min    3.000000
25%    6.000000
50%    7.000000
75%    7.250000
max    8.000000

In [141]:
x.value_counts()  #distinct counts

cars  pass
BMW   3       1
Ford  7       1
RR    7       1
TATA  8       1
dtype: int64

In [118]:
x.iloc[[2],[0]]

   cars
2  TATA

In [122]:
x.index    #Return the index of the DataFrame

RangeIndex(start=0, stop=4, step=1)

In [121]:
x.T   #transposes rows and cols

        0   1     2     3
cars  BMW  RR  TATA  Ford
pass    3   7     8     7

In [140]:
x.size  #total no of elements

8

In [142]:
x.dtypes

cars    object
pass     int64
dtype: object

In [143]:
x.ndim

2

In [152]:
data = {
    'Student': ["Amit", "Rahul", "Pooja", "Keerti", "Madhuri"],
    'Rank': [1, 4, 3, 5, 2],
    'Marks': [95, 70, 80, 60, 90]
}

In [153]:
print(data)

{'Student': ['Amit', 'Rahul', 'Pooja', 'Keerti', 'Madhuri'], 'Rank': [1, 4, 3, 5, 2], 'Marks': [95, 70, 80, 60, 90]}

In [154]:
res=pd.DataFrame(data)
print(res)

   Student  Rank  Marks
0     Amit     1     95
1    Rahul     4     70
2    Pooja     3     80
3   Keerti     5     60
4  Madhuri     2     90

In [155]:
#Attributes and Methods

res.dtypes

Student    object
Rank        int64
Marks       int64
dtype: object

In [156]:
res.ndim

2

In [157]:
res.size

15

In [158]:
res.shape

(5, 3)

In [159]:
res.index

RangeIndex(start=0, stop=5, step=1)

In [160]:
res.T

            0      1      2       3        4
Student  Amit  Rahul  Pooja  Keerti  Madhuri
Rank        1      4      3       5        2
Marks      95     70     80      60       90

In [161]:
res.head(3)

  Student  Rank  Marks
0    Amit     1     95
1   Rahul     4     70
2   Pooja     3     80

In [162]:
res.tail(2)

   Student  Rank  Marks
3   Keerti     5     60
4  Madhuri     2     90

In [164]:
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Student  5 non-null      object
 1   Rank     5 non-null      int64
 2   Marks    5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [165]:
res.columns

Index(['Student', 'Rank', 'Marks'], dtype='object')

In [167]:
res.describe()

           Rank      Marks
count  5.000000   5.000000
mean   3.000000  79.000000
std    1.581139  14.317821
min    1.000000  60.000000
25%    2.000000  70.000000
50%    3.000000  80.000000
75%    4.000000  90.000000
max    5.000000  95.000000

In [170]:
res.value_counts()

Student  Rank  Marks
Amit     1     95       1
Keerti   5     60       1
Madhuri  2     90       1
Pooja    3     80       1
Rahul    4     70       1
dtype: int64

In [175]:
res.iloc[[1,1]]

  Student  Rank  Marks
1   Rahul     4     70
1   Rahul     4     70

In [182]:
#JOIN PANDAS DATAFRAME

data1 = {
  'id': ["S01", "S02", "S03", "S04", "S05"],
  'student': ["Amit", "John", "Jacob", "David", "Steve"],
  'roll': [101, 102, 103, 104, 105]
}
data2 = {
  'rank': [1, 4, 3, 5, 2],
  'marks': [95, 70, 80, 60, 90]
}

df1=pd.DataFrame(data1)
print(df1)

df2=pd.DataFrame(data2)
print(df2)

res=df1.join(df2)
print(res)

    id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105
   rank  marks
0     1     95
1     4     70
2     3     80
3     5     60
4     2     90
    id student  roll  rank  marks
0  S01    Amit   101     1     95
1  S02    John   102     4     70
2  S03   Jacob   103     3     80
3  S04   David   104     5     60
4  S05   Steve   105     2     90

In [211]:
#CONCATENATE PANDAS DATAFRAMES

data1 = {
  'id': ["S01", "S02", "S03", "S04", "S05"],
  'student': ["Amit", "John", "Jacob", "David", "Steve"],
  'roll': [101, 102, 103, 104, 105]
}

data2={
    'id':["S06","S07","S08"],
    'student':["Ram","Rohan"," "],
    'roll':[106,107,108]
    
}
df1=pd.DataFrame(data1)
print(df1)

df2=pd.DataFrame(data2)
print(df2)

res=pd.concat([df1,df2])
print(res)

    id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105
    id student  roll
0  S06     Ram   106
1  S07   Rohan   107
2  S08           108
    id student  roll
0  S01    Amit   101
1  S02    John   102
2  S03   Jacob   103
3  S04   David   104
4  S05   Steve   105
0  S06     Ram   106
1  S07   Rohan   107
2  S08           108

In [271]:
#PANDAS SERIES

data =[10,20,30,40]

data.pop(1)

x=pd.Series(data)
print(x)
print(x[1])
print(x[3])

0    10
1    30
2    40
dtype: int64
30

KeyError: 3

In [223]:
#we can create our own indexes or labels
x=pd.Series(data, index=["R1","R2","R3","R4"] )
print(x)
print("value of last int:", x["R4"])

R1    10
R2    20
R3    30
R4    40
dtype: int64
value of last int: 40

In [230]:
x.dtype     #datatype

dtype('int64')

In [231]:
x.ndim

1

In [232]:
x.shape

(4,)

In [233]:
x.size

4

In [238]:
x.index

Index(['R1', 'R2', 'R3', 'R4'], dtype='object')

In [239]:
x.head(2)

R1    10
R2    20
dtype: int64

In [240]:
x.tail(2)

R3    30
R4    40
dtype: int64

In [241]:
x.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, R1 to R4
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 236.0+ bytes

In [253]:
data1=[3,5,7,8]
data2=[4,6,2,4]

x=pd.Series(data1)
print(x)

y=pd.Series(data2)
print(y)

def demo(x1, x2) :
    if (x1 > x2):
        return x1
    else:
        return x2

res=x.combine(y,demo)
print(res)

0    3
1    5
2    7
3    8
dtype: int64
0    4
1    6
2    2
3    4
dtype: int64
0    4
1    6
2    7
3    8
dtype: int64

In [266]:
def x (a,b,c) : 
    print(a,b,c)
L=[1,2,3] 
x(*L)

1 2 3

In [267]:
l1=[2,4,6,7]
l2=[1,2,3]
l1=l2
print(l2)

[1, 2, 3]

In [268]:
(1<=5<=10) and not len('')

True

In [269]:
[1 if i%2 else 0 for i in range(6)]

[0, 1, 0, 1, 0, 1]

In [270]:
i=0
while(i<3):
    print(i)
    i++
    print(i+1)

SyntaxError: invalid syntax (2402845090.py, line 4)

In [15]:
import pandas as pd

d = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(d, index=['a', 'b', 'c'])

In [16]:
print(df)

   A  B  C
a  1  4  7
b  2  5  8
c  3  6  9

In [20]:
#drop a single row
df1=df.drop('b')
print(df1)

   A  B  C
a  1  4  7
c  3  6  9

In [24]:
#drop multiple rows
df2=df.drop(['a','c'])
print(df2)

   A  B  C
b  2  5  8

In [19]:
os.getcwd()

'C:\\Users\\2085671'

In [ ]:
os.chdir("C:\\Users\\2085671\\Downloads\\data.csv")

In [99]:
#PANDAS CLEANING EMPTY CELLS
import os
import numpy as np
import pandas as pd
data=pd.read_csv('data.csv')
print(data)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [100]:
df=pd.DataFrame(data)
print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [101]:
df.shape

(169, 4)

In [28]:
#remove all rows with empty cells
df1=df.dropna()
df1.shape

(164, 4)

In [31]:
df.dropna(inplace=True)
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [44]:
data.count()

Duration    169
Pulse       169
Maxpulse    169
Calories    164
dtype: int64

In [43]:
#missing values count
data.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [46]:
df.mean()

Duration     63.846154
Pulse       107.461538
Maxpulse    134.047337
Calories    375.790244
dtype: float64

In [47]:
df.median()

Duration     60.0
Pulse       105.0
Maxpulse    131.0
Calories    318.6
dtype: float64

In [57]:
df.mode()

   Duration  Pulse  Maxpulse  Calories
0        60    100       120     300.0

In [53]:
df['Duration'].mean()

63.84615384615385

In [54]:
df['Pulse'].median()

105.0

In [102]:
df['Calories'].mode()

0    300.0
Name: Calories, dtype: float64

In [103]:
df.fillna(120)
df.shape

(169, 4)

In [104]:
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [109]:
df.dropna(subset=['Calories'], inplace = True)
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [119]:
#PANDAS CLEANING EMPTY CELLS
import os
import numpy as np
import pandas as pd
data=pd.read_csv('data.csv')
df=pd.DataFrame(data)
print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [129]:
df.iloc[60,'Duration']=60 
df

AttributeError: 'NoneType' object has no attribute 'iloc'