In [5]:
def greet():
    print("Hello")
    print('GM')
    
greet()

Hello
GM

In [6]:
def add(x,y):
    c=x+y
    print(c)
add(4,5)

9

In [20]:
def add(x,y):
    c=x+y
    return c
result=add(9,14)
print(result)

23

In [49]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result1,result2=add_sub(8,9)
print(result1)
print(result2)

17
-1

In [30]:
def greet():
    print("Hello")
    print("GM")
greet()

Hello
GM

In [47]:
def add(x,y):
    c=x+y
    return c
r=add(4,6)
print(r)

10

In [48]:
def add_sub(x,y):
    c=x+y
    d=x-y
    
    return c,d
r1,r2=add_sub(6,8)
print(r1)
print(r2)

14
-2

In [50]:
def add(a,b):
    c=a+b
    print(c)
add(4,6)

10

In [63]:
def person(name, age=18):
    print(name)
    print(age)
person("Rahul")

Rahul
18

In [93]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
    
sum(5,6,67,87)

165

In [107]:
def sub(a,*b):
    c=a
    for i in b:
     c=c-i
    print(c)
    
sub(9,8,6,7)

-12

In [118]:
def mul(a,*b):
    c=a 
    for i in b:
        c=c*i
        print(c)

mul(4,5,6,3)

20
120
360

In [24]:
#classes and objects

class computer:
    def config(self):
        print("i5,16gb,1TB")
     

    c=computer()
    d=computer()
    
    computer.config(c)
    computer.config(d)
    
    c.config()
    d.config()

i5,16gb,1TB
i5,16gb,1TB
i5,16gb,1TB
i5,16gb,1TB

In [114]:
class school():
    
         t=school()
         print(type(t))

<class '__main__.school'>

In [120]:
class instructor():
    
    instructor_1=instructor()
    print(type(instructor_1))

NameError: name 'instructor' is not defined